doctype html
html
  head
    title= "tree"
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style
      include dist/main.css
  body
    div.bg-slate-200
      div Tree Demo v1.0.0
    script
      include dist/bundle.js


